@page "/databinding-event"

<h3>DataBindingEvent</h3>

<h1>@Mensagem</h1>

<div class="form-group">
    <label>Event onChange</label>
    <input class="form-control" placeholder="Digite a mensagem..." @bind="@Mensagem">
</div>

<div class="form-group">
    <label>Event onInput</label>
    <input class="form-control" placeholder="Digite a mensagem..." @bind="@Mensagem" @bind:event="oninput">
</div>
@code {
    public string Mensagem { get; set; } = "Mensagem";
}
