@page "/event-key-press"
@inject HttpClient http
@using Newtonsoft.Json 


<h3>EventKeyPress</h3>


<div style="width: 100px; height: 100px; background-color: @cor;"></div>

<div style="width: 500px; height: 500px; background-color: @cor;" @onmousemove="@(e => mousePositiion(e))"></div>

<input @onkeypress="@(e => teclaPressionada(e))" />

@code {

    public class CorXkey
    {
        public string cor { get; set; }
        public string tecla { get; set; }
    }

    private List<CorXkey> CorXkeyList = new List<CorXkey>();
    private string cor { get; set; } = "blue";


    protected override async Task OnInitializedAsync()
    {
        CorXkeyList = await http.GetFromJsonAsync<List<CorXkey>>("dados/cores-key-binding.json");
        Console.WriteLine(JsonConvert.SerializeObject(CorXkeyList));
    }


    private void teclaPressionada(KeyboardEventArgs args)
    {
        CorXkey corXKey = CorXkeyList.Find(e => e.tecla == args.Key);

        Console.WriteLine("Encontrado -->" + corXKey );

        cor = corXKey.cor;
    }

    private void mousePositiion(MouseEventArgs args)
    {
        Console.WriteLine(JsonConvert.SerializeObject(args));
    }
}
