@inherits LayoutComponentBase

<div class="page">
    <CascadingValue Value="@BackgroundColor">
        <div class="sidebar">
            <NavMenu />
        </div>
    </CascadingValue>


    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>
        
        <CascadingValue Name="BackgroundColor" Value="@BackgroundColor">
            <CascadingValue Name="FontSize" Value="@FontSize">
                <div class="content px-4">
                    @Body
                </div>

                <select @bind="BackgroundColor" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option selected>Select color</option>
                    <option value="">Default</option>
                    <option value="cyan">Cyan</option>
                    <option value="blue">Blue</option>
                    <option value="red">Red</option>
                </select>
            </CascadingValue>
        </CascadingValue>

    </div>
</div>

@code{ 
    private string BackgroundColor;
    private string FontSize = "50px";
}