
<h3>@Titulo</h3>

@if (!tarefas.Any())
{
    <Alerta Mensagem="Erro ao consultar tarefas" TipoAlerta="alert alert-danger">
        <ChildContent1>
            <b style="font-size:30px">ChildContent 1</b>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://semantic-ui.com/images/wireframe/image.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Não há tarefas cadastradas.</h5>
                    <p class="card-text">Após cadastrar tarefas, elas serão apresentadas. Favor cadastrar uma tarefa.</p>
                </div>
            </div>
        </ChildContent1>
        <ChildContent2>
            <b style="font-size:30px">ChildContent 2</b>
        </ChildContent2>
    </Alerta>
}
else if (tarefas == null)
{
    <Alerta Mensagem="Ainda não há tarefas cadastradas" TipoAlerta="alert alert-danger">
        <ChildContent1>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://semantic-ui.com/images/wireframe/image.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Não há tarefas cadastradas.</h5>
                    <p class="card-text">Após cadastrar tarefas, elas serão apresentadas. Favor cadastrar uma tarefa.</p>
                </div>
            </div>
        </ChildContent1>
        <ChildContent2>
            <b>ChildContent2</b>
        </ChildContent2>
    </Alerta>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Ações</th>
            <th scope="col">Data</th>
            <th scope="col">Descrição</th>
            <th scope="col">Concluida</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in tarefas)
        {
            <tr>
                <TarefaIndividual item="item" RemoverTarefa="RemoveTarefa"></TarefaIndividual>
            </tr>
        }
    </tbody>
</table>

<Modal @ref="modal" ModalTitle="Confirmar exclusão" ButtonConfirmText="Excluir" OnConfirm="RemoveTarefaConfirm">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Descrição</th>
                <th scope="col">Concluida</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@tarefaRemover.DataCriacao</td>
                <td>@tarefaRemover.Descricao</td>
                <td>@tarefaRemover.Concluida</td>
            </tr>
        </tbody>
    </table>

</Modal>

@if (tarefas != null)
{
    <div class="form-group">
        <label>Tarefa</label>
        <input type="text" placeholder="Informe a tarefa" @bind="novaTarefa">
        <button class="btn btn-primary" @onclick="AdicionarNovaTarefa">Adicionar</button>
    </div>
}



@code {


    [Parameter] public string Titulo { get; set; } = "Tarefas";
    [Parameter] public List<Tarefa> tarefas { get; set; }

    private string novaTarefa;
    Modal modal = new Modal();
    Tarefa tarefaRemover;

    private void AdicionarNovaTarefa()
    {
        if (!VerificaTarefaJaExiste(novaTarefa) && !String.IsNullOrWhiteSpace(novaTarefa))
        {
            Tarefa tarefa = new Tarefa();
            tarefa.Concluida = false;
            tarefa.DataCriacao = DateTime.Now;
            tarefa.Descricao = novaTarefa;

            tarefas.Add(tarefa);
            novaTarefa = "";
        }
    }

    private void RemoveTarefa(Tarefa tarefa)
    {
        modal.Show();
        tarefaRemover = tarefa;
    }

    private void RemoveTarefaConfirm()
    {
        tarefas.Remove(tarefaRemover);
        tarefaRemover = null;
        modal.Hide();
    }

    private void RemoveTarefaCancel()
    {
        modal.Hide();
    }

    private bool VerificaTarefaJaExiste(string tarefaDescricao)
    {
        Tarefa t = tarefas.Find(e => e.Descricao.Equals(tarefaDescricao, StringComparison.CurrentCultureIgnoreCase));
        Console.WriteLine(t == null ? false : true);
        return t == null ? false : true;
    }
}